body {
  background-image: url('pix/rain.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
/*	background-color: #00111a */
/*  #0a2929; */

}

main {
  font-family: Open Sans, Arial;
	max-width: 900px;
  margin: auto;
	line-height:1.4;
	font-size: 16px;
  /*font-size: 1.2vw;*/
  padding: 1em;
  background-color: /*#0d0d0d*/ #020210;
  border: 2px solid #915f00;
}

hr.main {
  color: #458588;
  margin: 30px;
}

hr.normal {
  color: #4d4d4d;
  width: 70%;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

h2 {
	color: #d79921;
	font-weight: normal;
	text-align: center;
  padding: 15px;
}

h3 {
	color: #d79921;
	font-weight: normal;
	text-align: left;
  padding: 15px;
}

p, ul, ol, aside, cite {
	color: #ebdbb2;
  margin: 25px 25px;
}

code {
	color: green
}

img.doomer  {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  max-height: 300px;
  /*padding: 20px;*/
  border: 2px solid #020237;
  box-shadow: 0px 0px 50px #000059
}

img.computerman {
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.philosophy {
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  color: #458588;
  font-family: Computer Modern;
	font-weight: Bold;
	text-shadow: -3px 2px 8px #0000be;
	text-align: center;
  margin: 0px auto;
  padding: 0px auto;
}

.header p {
  font-size: 12px;
  color: #458588;
}

.header h1 {
  font-size: 200%;
  background-color: #00141e;
  border: 1px solid #005000;
  margin: auto;
  padding: 16px;
  max-width: 500px;
}

.centered {
  max-width: 700px;
  margin-top: 35px;
  margin-bottom: 45px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: auto;
}

.floatleft, .floatright{
  margin-top: 40px;
  margin-bottom: 55px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  width: 100%;
  height: auto;
}

.floatleft img {
  float: left;
  max-width: 50%;
  max-height: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 20px;
}

.floatright img {
  float: right;
  max-width: 35%;
  max-height: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: auto;
}

.work {
  font-family: monospace;
	max-width: 750px;
  margin: 30px auto 30px auto;
	font-size: 14px;
  line-height: 1.4;
  padding: 1px;
  background-color: #000033;
  border: 1px solid #458588;
  box-shadow: 0px 0px 50px #000059;
}

.fun {
  font-family: monospace;
	max-width: 750px;
  margin: 30px auto 30px auto;
	font-size: 14px;
  line-height: 1.4;
  padding: 1px;
  background-color: #0a290a;
  border: 1px solid #458588;
  box-shadow: 0px 0px 50px #004a00;
}

.navi ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #00141e;
  border: 1px solid #915f00;
}

.navi li {
display: inline-block;
}

.navi li a {
  display: block;
  color: #458588;
  margin: 0px auto;
  padding: 15px;
  text-decoration: none;
}

.navi li a:hover {
  background-color: #111;
  color: #d79921;
}

.navi li img {
  height: 1.55em;
}

.list1 ul {
  list-style: none;
  text-align: center;
  font-weight: bold;
  margin: 50px auto;
  padding: 25px;
  max-width: 60%;
  line-height: 1.6;
  background-color: #00141e;
  border: 1px solid #915f00;
}

@media screen and (max-width: 670px) {

  .navi li {
  display: block;
  }

}

@media screen and (max-width: 480px) {

  .header h1 {
    font-size: 150%;
    background-color: #00141e;
    border: 1px solid #005000;
    margin: auto;
    padding: 16px;
    max-width: 500px;
  }

}

@media screen and (max-width: 376px) {

  .header h1 {
    font-size: 100%;
    background-color: #00141e;
    border: 1px solid #005000;
    margin: auto;
    padding: 16px;
    max-width: 500px;
  }

}
