body {
	background-color: #1d2021;
	font-family: Open Sans, Arial;
	max-width: 1050px;
  margin: auto;
	line-height:1.4;
	font-size: 16px;
  padding: 1em;
}

h1 {
	color: #458588;
	font-weight: Bold;
	text-shadow: -1px 3px 3px rgba(0, 0, 0, 0.68);
	text-align: center;
}

h2, h3 {
	color: #d79921;
	font-weight: normal;
	text-align: center;
}

p, ul, ol, aside {
	color: #ebdbb2;
}

code {
	color: green
}

aside {
  text-align: center;
}

.right, .left {
	min-height: 300px;
	text-align: left;
}

.center {
  min-height: 300px;
	text-align: center;
}

.right img  {
padding-top: 1em;
float: right;
max-width: 400px;
max-height: 225px;
padding: 20px;
}

.left img {
padding-top: 1em;
float: left;
max-width: 400px;
max-height: 225px;
padding: 20px;
}
